@use 'helpers/color' as *;
.projects {
  background-color: $bg-color;
  padding-top: 13rem;
  padding-bottom: 15rem;

  &__inner {
    // outline: 1px solid tomato;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 11.5rem;
  }

  &__slider {
    position: relative;

    &-buttons {
      position: absolute;
      top: 55%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-btn {
      cursor: pointer;
      border: none;
      font-size: 0;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background-color: $main-black;
    }
    &-btn-left {
      position: absolute;
      left: -2.5rem;
      background-image: url('../../img/slider-arrow-left.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
    &-btn-right {
      position: absolute;
      right: -2.5rem;
      background-image: url('../../img/slider-arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
