@font-face {
  src: url(../fonts/AGFatumC.woff) format('woff');
  font-family: 'Fatum';
  font-weight: 400;
}

@font-face {
  src: url(../fonts/AGFatumC-Bold.woff) format('woff');
  font-family: 'Fatum';
  font-weight: 600;
}

@font-face {
  src: url(../fonts/AGFatumC-Italic.woff) format('woff');
  font-family: 'Fatum';
  font-style: italic;
  font-weight: 400;
}
