@use 'helpers/color' as *;

.cards {
  list-style-type: none;
  padding: 0;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  grid-gap: 4.4rem;
}

.card {
  border-top: 1px solid #646464;
  display: grid;
  grid-template-columns: 37.3rem 1fr;
  max-width: 38.4rem;

  @media (max-width: 375px) {
    grid-template-columns: 32.3rem 1fr;
  }

  @media (max-width: 320px) {
    grid-template-columns: 27rem 1fr;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  &__btn {
    border: none;
    font-size: 0;
    width: 0.7rem;
    margin-top: 2rem;
    background: transparent;
    background-image: url('../../img/project-card-plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__img {
    margin-top: 4.5rem;

    @media (max-width: 375px) {
      width: 100%;
      grid-column: 1/3;
    }
  }
}
