@use 'helpers/color' as *;

.header {
  min-height: 80rem;
  background-image: url(../../img/living-room.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  &__nav {
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin-top: 21rem;

    &-heading {
      max-width: 57.2rem;
      font-size: 6.4rem;
      line-height: 6.6rem;
      font-weight: 400;
      color: $font-light;
      margin-bottom: 5rem;
    }

    &-button {
      background-color: $font-light;
      &:hover {
        background-color: transparent;
        outline: 1px solid $font-light;
        color: $font-light;
      }
    }
  }
}
