@use 'helpers/color' as *;

.header {
  min-height: 80rem;
  background-image: url(../../img/living-room.jpg);
  background-repeat: no-repeat;
  // object-fit: cover;
  background-size: 100%;
  &__nav {
    padding-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    &__list {
      position: relative;
      display: flex;
      padding: 0;

      & :not(:last-child) {
        margin-right: 3.8rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0px;
          left: 8rem;
          width: 0.2rem;
          height: 1.6rem;
          background-color: $font-light;
          transform: rotate(30deg);
        }
      }
    }
    &__list-item {
      list-style-type: none;
    }
    &__list-link {
      text-decoration: none;
      color: $font-light;
      font-size: 1.6rem;
    }
  }
}
