@use 'helpers/color' as *;
.about {
  &__inner {
    text-align: center;
  }

  &__text {
    background-color: $bg-color;
    padding: 19rem 0 15rem;
    color: $main-black;
  }

  &__heading {
    font-size: 9.6rem;
    line-height: 12rem;
    letter-spacing: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  &__subheading {
    font-size: 3.2rem;
  }

  &__info {
    background-color: $main-black;
    color: $font-light;
    padding: 12.5rem 0;
  }
}
