.materials {
  padding-top: 13rem;
  padding-bottom: 15rem;

  &__heading {
    font-size: 4rem;
    font-weight: 400;
    max-width: 89.6rem;
    margin-bottom: 12rem;
  }

  &__work {
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
  }
}
