@use 'helpers/color' as *;
.burger-menu {
  position: absolute;
  content: '';
  top: 2rem;
  right: 2rem;

  width: 3rem;
  height: 2rem;

  background-image: url('../../../img/burger-icon.svg');
  background-repeat: no-repeat;

  cursor: pointer;
  display: none;

  @media (max-width: 425px) {
    display: block;
  }

  &__open {
    content: '';
    top: 2rem;
    right: 2rem;

    width: 3rem;
    height: 2.5rem;
    background-image: url('../../../img/burger-close-icon.svg');
    background-repeat: no-repeat;
  }

  &__inner {
    display: none;
  }
}
